@import url('header_index');
@import url('card_index.css');
@import url('character_card.css');
@import url('footer_index.css');

* {
    box-sizing: border-box;
    background-color: rgb(188, 204, 199);
    margin: 0;
    padding: 0;
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
