/*@import url('header.css');
@import url('footer.css');
@import url('card.css');
@import url('character_card.css');*/

.planetsBtn {
    width: 60px;
    height: 30px;
    margin:0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
}

header img {
    width: 200px;
}

.character_card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 20px;
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.card {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card h2 {
    margin: 10px 0;
    font-size: 18px;
}

.card p {
    font-size: 14px;
    color: #555;
}


footer {
    display: flex;
    justify-content: center;
}