@import url('planet_card.css');
@import url('planet_grid.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(188, 204, 199);
}

header a {
    display: flex;
    justify-content:left;
    color: rgb(69, 106, 93);
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}